[include]
	path = .gitconfig.local
[alias]
	co = checkout
	ci = commit
	st = status --short --branch
	l = log --oneline
	la = log --oneline --all
	gl = log --oneline --graph
	gla = log --oneline --graph --all
[log]
	decorate = short
[push]
	default = simple
